<!-- <button
  type="button"
  class="btn btn-outline-primary"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Upload
</button> -->
<button
  type="button"
  class="btn btn-info btn-circle btn-xl"
  data-toggle="modal"
  data-target="#exampleModal"
  style="
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    box-shadow: 0.5px 0.5px 10px black;
  "
>
  <svg
    width="1.5em"
    height="1.5em"
    viewBox="0 0 16 16"
    class="bi bi-file-earmark-arrow-up"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"
    />
    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
    <path
      fill-rule="evenodd"
      d="M8 12a.5.5 0 0 0 .5-.5V7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 7.707V11.5a.5.5 0 0 0 .5.5z"
    />
  </svg>
</button>
<a
  href="/auth/logout"
  class="btn btn-outline-warning"
  role="button"
  aria-pressed="true"
  style="position: absolute; right: 1rem; top: 0.5rem"
  >Log Out</a
>
<div class="container">
  <h2>My Files</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Created Date</th>
        <th scope="col">Size</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% files.forEach(function(file,index){ %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= file.name.split('_').slice(1).join('_') %></td>
        <td><%= file.createdDate %></td>
        <td><%= file.size %></td>
        <td>
          <a
            href="/file/<%= file.name %>"
            download="<%= file.name %>"
            class="btn btn-outline-warning"
            role="button"
            aria-pressed="true"
            >download</a
          >
          <button type="button" class="btn btn-secondary">delete</button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Try uploading multiple files at a time.</p>
        <form action="/file" method="post" enctype="multipart/form-data">
          <input type="file" name="file" multiple required />
          <div class="modal-footer" style="margin-top: 2rem">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
