<button
  type="button"
  class="btn btn-outline-primary"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Upload
</button>
<a
  href="/auth/logout"
  class="btn btn-outline-warning"
  role="button"
  aria-pressed="true"
  >Log Out</a
>
<div class="container">
  <h2>My Files</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Created Date</th>
        <th scope="col">Size</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% files.forEach(function(file,index){ %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= file.name.split('_').slice(1).join('_') %></td>
        <td><%= file.createdDate %></td>
        <td><%= file.size %></td>
        <td>
          <a
            href="/file/<%= file.name %>"
            download="<%= file.name %>"
            class="btn btn-outline-warning"
            role="button"
            aria-pressed="true"
            >download</a
          >
          <button type="button" class="btn btn-secondary">delete</button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Try uploading multiple files at a time.</p>
        <form action="/file" method="post" enctype="multipart/form-data">
          <input type="file" name="file" multiple />
          <div class="modal-footer" style="margin-top: 2rem">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
